.uniForm{background:none repeat scroll 0 0 #EFEFEF;max-width:420px;margin-top:10px;}
.content{max-width:420px;}
.wrapper{width:800px;margin-bottom:20px;padding:10px 30px;border:1px solid #343434;background:#FFF}
fieldset{border:1px solid #BBB!important;}
label {text-align:right;}
.dot{border-bottom:1px dotted #BBB;}
.dot-top{border-top:1px dotted #BBB;}
.b{font-weight:bold;margin-left:10px;margin-top:8px;margin-bottom:0px;}
.dark{
    -moz-box-shadow:inset 0px 1px 0px 0px #a3a3a3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a3a3a3;
    box-shadow:inset 0px 1px 0px 0px #a3a3a3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8d1e6), color-stop(1, #cde4fc) );
    background:-moz-linear-gradient( center top, #b8d1e6 5%, #cde4fc 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d1e6', endColorstr='#cde4fc');
    background-color:#b8d1e6;
    border:1px solid #dcdcdc;
    color:#5c5c5c;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:1px 1px 0px #d9d9d9;
padding:4px 8px;
}
.country-name{margin-left:54px;display:block;}
.locality{clear:both;margin-left:54px;text-align:left;}
.title{display:block}
.region{}
.street-address{text-align:left;display:inline}
.email{display:inline;clear:both;}
.qr{margin-right:300px;float:right;}
.qrcode{}
.body{margin-bottom:16px;padding:10px;border:1px solid #dcdcdc;}
.sm{font-size:12px;}
.type{clear:both;float:left;width:45px;text-align:right;color:#000;font-weight:bold;}
.buttonHolder{margin-left:30px !important;margin-top:0px !important;padding-top:10px !important;text-align:left !important}
.inline{display:inline;}
.add{float:right;color:#333;margin-top:2px;}
.form_block{border-top:1px solid #BBB;padding-top:10px;}
#login{margin-bottom:10px;}
#openid_form{margin-top:0px!important;position:relative;bottom:10px;}
.asteriskField{color:red}
.vcard {float:left;margin-top:10px;font-size:14px; background:#CCC;padding:6px;max-width:250px;min-width:200px; border:1px solid #666}
.adr, .tel{margin:6px 0px;display:block;clear:both}
.msg{color:#006600}
.photo {float:left; margin-right:4px;border:1px solid #666;margin-bottom:4px;}
.left{margin-left:10px;}
.left_spc{margin-left:4px;}
.left_wide{margin-left:150px;;}
.dlink{text-align:center;display:block;font-size:13px;margin-top:6px;}


tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    
tfoot {
    display: table-header-group;
}




@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.groups_view{
	margin-top : 100px;
	margin-left:20%;
	width:400px;
}
.td_space_width{
	padding-left : 20px;
}
.row_height_space{
	margin-top:20px;
}