{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'uni_form/uni-form.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'uni_form/default.uni-form.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/addressbook.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'uni_form/uni-form.css' %}"/>

<script src="{% static 'uni_form/uni-form.jquery.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="wrapper ">
			<form action="" method="post" class="uniForm"> {% csrf_token %}
			
			<fieldset class="inlineLabels">
			{% if form.errors %}
				   
				    {% for error in form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
				{% endif %}
			<div class="dark">Add a contact group</div>
			{{ form|crispy }}
			<div class="buttonHolder">
			<button class=primaryAction" type="submit">Add Group</button>
			</div>
			</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock %}
