<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/addressbook.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	
  {% block extrahead %}
  	
  {% endblock %}
</head>
<body>
  {% block navigation%}
  	<div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'dashboard' %}" ><span class="glyphicon glyphicon-home"></span> AddressBook</a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav">
			<li><a href="{% url 'contacts' %}"><button class="btn btn-success">Contacts</button></a></li>
			<li><a href="{% url 'groups' %}"><button class="btn btn-success">Groups</button></a></li>
            <li><a href="{% url 'contact_new' %}"><button class="btn btn-success">Add New Contact</button></a></li>
            <li><a href="{% url 'group_new' %}"><button class="btn btn-success">Add New Group</button></a></li>
            <li><a href="{% url 'search' %}"><button class="btn btn-success">Search</button></a></li>
          </ul>
        </div>
      </div>
    </div>
    
  {% endblock %}
  {% block content %}{% endblock %}
</body>
</html>
