{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="wrapper">
	<h3 style="text-align:center">Contact Details</h3>
	<div class="table-responsive">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th class="td_space_width">Title </th>
	        <th class="td_space_width">First Name</th>
	        <th class="td_space_width">Middle Name</th>
	        <th class="td_space_width">Last Name</th>
	        <th class="td_space_width">Groups</th>
	        <th class="td_space_width">Phone Numbers</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for contact in contact_details %}
	      <tr class="row_height_space">
	        <td>{{ forloop.counter }}</td>
	        <td class="td_space_width">{{contact.title}}</td>
	        <td class="td_space_width">{{contact.first_name}}</td>
	        <td class="td_space_width">{{contact.middle_name}}</td>
	        <td class="td_space_width">{{contact.last_name}}</td>
	        <td>
		          <ol>
		          {% for group in group_info %}
		            <li><a href="{% url 'group_detail' group.group_id %}">{{ group.group.name }}</a></li>
		          {% endfor %}
		          </ol>
		    </td>
	        <td class="td_space_width">
	        	<ol>
	        		{% for phone in phone_info %}
	        		<li>{{phone.type}} - {{phone.phone}} </li>
	        		{% endfor %}
	        	</ol>
	
	        </td>
	        <td class="td_space_width"><a href="{% url 'contact_edit' contact.id %}"><button class="btn btn-success">Edit</button></a> </td>
	      </tr>
	    {% endfor %}
	    
	    </tbody>
	  </table>
	</div>
</div>
		</div>
	</div>
</div>

{% endblock %}
