{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="wrapper " style="width:1200px">
				<h3 style="text-align:center">Contacts</h3>
				<div class="table-responsive">
				  <table id="view_contacts" cellspacing="0" width="100%" class="display">
				    <thead>
				      <tr>
				        <th>#</th>
				        <th class="td_space_width">Title </th>
				        <th class="td_space_width">First Name</th>
				        <th class="td_space_width">Middle Name</th>
				        <th class="td_space_width">Last Name</th>
				        <th class="td_space_width">Groups</th>
				        <th class="td_space_width">Phone Numbers</th>
				        <th class="td_space_width">Email ids</th>
				        <th></th>
				      </tr>
				    </thead>
				    
				    
				    <tbody>
				    {% for contact in contacts %}
				      <tr class="row_height_space">
				         <td>{{ forloop.counter }}</td>
				         <td class="td_space_width">{{contact.title}}
				         <td class="td_space_width">{{contact.first_name}}</td>
				         <td class="td_space_width">{{contact.middle_name}}</td>
				         <td class="td_space_width">{{contact.last_name}}</td>
				         <td>
					          <ol>
					          {% for group in contact.group_info %}
					            <li><a href="{% url 'group_detail' group.group_id %}">{{ group.group.name }}</a></li>
					          {% endfor %}
					          </ol>
					    </td>
				         <td class="td_space_width">
				        	<ol>
				        		{% for phone in contact.phone_info %}
				        		<li>{{phone.type}} - {{phone.phone}} </li>
				        		{% endfor %}
				        	</ol>
				
				        </td>
				        <td class="td_space_width">
				        	<ol>
				        		{% for email in contact.email_info %}
				        		<li>{{email.type}} - {{email.email}} </li>
				        		{% endfor %}
				        	</ol>
				
				        </td>
				         <td class="td_space_width"><a href="{% url 'contact_edit' contact.id %}"><button class="btn btn-success">Edit</button></a> </td>
				      </tr>
				    {% endfor %}
				    </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#view_contacts').DataTable( {
        "pagingType": "full_numbers",
        "ordering" : false,
        "info" : false,
        "bFilter" : false,
        "bInfo" : false
    } );
} );
</script>
{% endblock %}
