{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% if messages %}
<div class="wrapper">
{% for message in messages %}
<p class="msg">{{message}}</p>
{% endfor %}
</div>
{% endif %}

<body>
	
	<div class="container">
	  <div class="page-header">
        <h1 style="text-align:center"> Address Book</h1>
      </div>
	  <div class="clearfix"></div>
	  
	  <div class="row">
	   <table id="dashboard" class="display" cellspacing="0" width="100%">
		<thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone - Mobile</th>
                <th>Group</th>
                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone - Mobile</th>
                <th>Group</th>
            </tr>
        </tfoot>
        <tbody>
                       
            {% if contacts %}
		        {% for contact in contacts %}
		        <tr>
		        	<td>{{ contact.first_name }}</td>
		        	<td>{{ contact.last_name }}</td>
		        	<td class="td_space_width">
			        	<ol>
			        		{% for phone in contact.phone_info %}
			        		<li>{{phone.type}} - {{phone.phone}} </li>
			        		{% endfor %}
			        	</ol>
			
			        </td>
		        	<td>
				          <ol>
				          {% for group in contact.group_names %}
				            <li><a href="{% url 'group_detail' group.group_id %}">{{ group.group.name }}</a></li>
				          {% endfor %}
				          </ol>
				    </td>
		        </tr>
		        {% endfor %}
		    {% else %}
		        <p>None</p>
		    {% endif %}
		    
         </tbody>
	</table>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
	    // Setup - add a text input to each footer cell
	    $('#dashboard tfoot th').each( function () {
	        var title = $(this).text();
	        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
	    } );
	 
	    // DataTable
	    var table = $('#dashboard').DataTable();
	 
	    // Apply the search
	    table.columns().every( function () {
	        var that = this;
	 
	        $( 'input', this.footer() ).on( 'keyup change', function () {
	            if ( that.search() !== this.value ) {
	                that
	                    .search( this.value )
	                    .draw();
	            }
	        } );
	    } );
	    
	    
	} );
	</script>
</body>

{% endblock %}
