{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/addressbook.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

{% if messages %}
<div class="wrapper">
{% for message in messages %}
<p class="msg">{{message}}</p>
{% endfor %}
</div>
{% endif %}

<body>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.thesoftwareguy.in" target="_blank"><span class="glyphicon glyphicon-home"></span> thesoftwareguy</a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav">
			<li><a href="http://www.thesoftwareguy.in/php-tutorial/">PHP Tutorials</a></li>
			<li><a href="http://www.thesoftwareguy.in/working-demos/">More Demos</a></li>
            <li><a href="http://www.thesoftwareguy.in/mini-project/">More Projects</a></li>
          </ul>
        </div>
      </div>
    </div>
	
	<div class="container mainbody">
      <div class="page-header">
        <h1>Simple address book with php and mysql using pdo</h1>
      </div>
	  <div class="clearfix"></div>
	  
	  <div class="row">
		  <div class="panel panel-primary">
		    <div class="panel-heading">
		      <h3 class="panel-title">Address Book</h3>
		    </div>
		  <div class="panel-body">
    		<div class="col-lg-12" style="padding-left: 0; padding-right: 0;" >
		        <form action="index.php" method="get" >
		        <div class="col-lg-6 pull-left"style="padding-left: 0;"  >
		          <span class="pull-left">  
		            <label class="col-lg-12 control-label" for="keyword" style="padding-right: 0;">
		              <input type="text" value="" placeholder="search by first name" id="" class="form-control" name="keyword" style="height: 41px;">
		            </label>
		            </span>
		          <button class="btn btn-info">search</button>
		        </div>
		        </form>
		        <div class="pull-right" ><a href="contacts.php"><button class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Add New Contact</button></a></div>
		      </div>
    		
    		<div class="clearfix"></div>
	        <div class="table-responsive">
	          <table class="table table-striped table-hover table-bordered ">
	            <tbody><tr>
	                <th>First Name</th>
	                <th>Last Name</th>
	                <th>Contact No #1 </th>
	                <th>Email </th>
	                <th>Action </th>
	
	              </tr>
    			  <tr>
	                  
	                  <td>समर</td>
	                  <td>सिंह</td>
	                  <td>1232137530</td>
	                  <td>samar@live.in</td>
	                  <td>
	                    <a href="view_contacts.php?cid=40"><button class="btn btn-sm btn-info"><span class="glyphicon glyphicon-zoom-in"></span> View</button></a>&nbsp;
	                    <a href="contacts.php?m=update&cid=40&pagenum="><button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</button></a>&nbsp;
	                    <a href="process_form.php?mode=delete&cid=40&keyword=&pagenum=" onclick="return confirm('Are you sure?')"><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Delete</button></a>&nbsp;
	                  </td>
	                </tr>
                 </tbody></table>
        </div>
                
    
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				{% if contacts %}
				<div class="title">
					<h3 class="panel-title">Contacts</h3>
				</div>
				<table class="table table-responsive">
					<tbody>
						{% for contact in contacts %}
							<tr>
								<td>{{contact.first_name}}</td>
								<td>{{contact.last_name}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>
		</div>
	</div>
</body>


<div class="wrapper">

{% if contacts %}

{% for group, contacts in group_contacts %}
    <div class="dark"><b>{{group}}</b></div>
    <div class="body">
    {% if contacts %}
        {% for contact in contacts %}
        <p><a href="#">{{ contact.first_name }} {{ contact.last_name }}</a></p>
        {% endfor %}
    {% else %}
        <p>None</p>
    {% endif %}
    </div>
{% endfor %}
{% else %}
No contacts
{% endif %}
</div>
{% endblock %}
