{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="wrapper ">
				<h3>Edit Contact Details </h3>
					
					<form action="" method="post">{% csrf_token %}
					    {{ form.as_p }}
					    <input type="submit" value="Create/Update" />
					</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

