{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="wrapper ">
				<h3 style="text-align:center">Group Members</h3>
				<div class="table-responsive">
				  <table id="detail_group" cellspacing="0" width="100%" class="display">
				    <thead>
				      <tr>
				        <th>#</th>
				        <th class="td_space_width">Member Name</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for contact in contacts %}
				      <tr class="row_height_space">
				         <td>{{ forloop.counter }}</td>
				         <td class="td_space_width"><a href="{% url 'contact_detail' contact.id %}"> {{contact.first_name}} - {{contact.last_name}}</td>
				      </tr>
				    {% endfor %}
				    </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#detail_group').DataTable( {
        "pagingType": "full_numbers",
        "ordering" : false,
        "info" : false,
        "bFilter" : false,
        "bInfo" : false
    } );
} );
</script>
{% endblock %}
