{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="wrapper ">
				<h3 style="text-align:center">Groups</h3>
				<div class="table-responsive">

				  <table id="view_groups" cellspacing="0" width="100%" class="display">
				    <thead>
				      <tr>
				        <th>#</th>
				        <th class="td_space_width">Group Name</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tfoot>
				    	<tr>
				        <th>#</th>
				        <th class="td_space_width">Group Name</th>
				        <th></th>
				      </tr>
				    </tfoot>
				    <tbody>
				    {% for group in groups %}
				      <tr class="row_height_space">
				         <td>{{ forloop.counter }}</td>
				         <td class="td_space_width"><a href="{% url 'group_detail' group.id %}"> {{group.name}} </a></td>
				         <td class="td_space_width"><a href="{% url 'group_edit' group.id %}"><button class="btn btn-success">Edit</button></a> </td>
				      </tr>
				    {% endfor %}
				    </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#view_groups').DataTable( {
        "pagingType": "full_numbers",
        "ordering" : false,
        "info" : false,
        "bFilter" : false,
        "bInfo" : false
    } );
} );
</script>
{% endblock %}
