{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extrahead%}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">    
    	<h3 style="text-align:center">Search</h3>
    	<form action='{% url 'search' %}' enctype='application/json' method='post' id='search_email'>
	        <div class="col-xs-12">
			    <div class="input-group">
			    	
	                <div class="input-group-btn search-panel">
	                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
	                    </button>
	                    <ul class="dropdown-menu" role="menu">
	                      <li value="email_contains"><a href="#email_contains">email_contains</a></li>
	                      <li value="email_exact_match"><a href="#email_exact_match">email_exact_match</a></li>
	                      <li value="first_name"><a href="#first_name">first_name</a></li>
	                      <li value="last_name"><a href="#last_name">last_name</a></li>
	                      <li value="group_name"><a href="#group_name">group_name</a></li>
	                      
	                    </ul>
	                </div>
	                <input type="hidden" name="search_param" value="all" id="search_param">         
	                <input type="text" class="form-control" id="search_text" placeholder="Search term...">
	                <span class="input-group-btn">
	                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
	                </span>
	            </div>
	            <div class="table-responsive">
	  				<table id ='result_table'  class="table table-striped">
	  					<thead>
					      <tr>
					        <th>#</th>
					        <th class="td_space_width">Title </th>
					        <th class="td_space_width">First Name</th>
					        <th class="td_space_width">Middle Name</th>
					        <th class="td_space_width">Last Name</th>
					        <th class="td_space_width">Groups</th>
					        <th class="td_space_width">Phone Numbers</th>
					        <th class="td_space_width">Email Ids</th>
					      </tr>
					    </thead>
					    <tbody id="result_table_body">
					    
					    </tbody>
	  				</table>
	  			</div>
	        </div>
	     </form>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(e){
    
	var drop_down_selected = 0;
	
	$('.search-panel .dropdown-menu').find('a').click(function(e) {
		e.preventDefault();
		var param = $(this).attr("href");
		var concept = $(this).text();
		$('.search-panel span#search_concept').text(concept);
		$('.input-group #search_param').val(param);
	});
	
	$('.dropdown-menu li').on('click', function() {
        console.log('clicked');
        var val = $(this).find('a').html();
        var col = $(this).attr('value');
        console.log(col);
        drop_down_selected = col;
    });
	
	
    $('#search_email').submit(function(e){
    	console.log("In script")
    	e.preventDefault();
    }).validate({
    	submitHandler: function(form) {
    		console.log(drop_down_selected);
    		if (drop_down_selected == 0)
    			{
    				alert('Please select the search filter type')
    				return
    			}
    		$("#result_table_body tr").remove(); 
    		var dictionary = {};
    		var param = $('.search-panel .dropdown-menu').find('a').attr('href')
    		dictionary['filter_type'] = drop_down_selected;
    		dictionary['search_text'] = $('#search_text').val();
    		console.log(dictionary);
    		call_ajax(dictionary)
    	}
    });
    
    function call_ajax(dictionary){
    	$.post('{% url 'search' %}',JSON.stringify(dictionary))
           .done(function(data){
        	   //console.log(JSON.parse(data))
        	   data = JSON.parse(data)
        	   console.log(data)
        	   if (jQuery.isEmptyObject( data )){
        		   var inner_text = "<tr><td colspan=100% style='text-align:center'> No Data Available </td> </tr>"   
        		   
        		   $('#result_table_body').append(inner_text)
        		   return
        	   }
        	   
        	   var tr;
        	   for(var i=0; i<data.length; i++){
				   var inp_data = data[i];
				   //console.log(inp_data)
				   var count = i+1
        		   tr = $('<tr>');
        		   tr.append("<td>"+ count +"</td>");
        		   tr.append("<td>" + inp_data['contact_info'].title + "</td>" );
        		   tr.append("<td>" + inp_data['contact_info'].first_name + "</td>" );
        		   tr.append("<td>" + inp_data['contact_info'].middle_name + "</td>" );
        		   tr.append("<td>" + inp_data['contact_info'].last_name + "</td>" );
        		  
        		   var group_info = inp_data['group_info'];
        		   var group_text = "";
        		   //console.log(group_info);
        		   
        		   for(var g=0; g<group_info.length; g++){
        			   group_text += "<li>" + group_info[g] + "</li>"
        		   }
        		   //console.log(group_text);	
        		   tr.append("<td> <ol>" +group_text+"</ol></td>" );
        		   
        		   var phone_info = inp_data['phone_info'];
        		   var phone_text = "";
        		   
        		   for (var ph=0; ph<phone_info.length; ph++){
        			   phone_text += "<li>" + phone_info[ph].type + '-' + phone_info[ph].phone + "</li>"
        		   }
        		   
        		   //console.log(phone_text);	
        		   tr.append("<td> <ol>" +phone_text+"</ol></td>" );
        		   
        		   
        		   var email_info = inp_data['email_info'];
        		   var email_text = "";
        		   
        		   for (var e=0; e<email_info.length; e++){
        			   email_text += "<li>" + email_info[e].type + '-' + email_info[e].email + "</li>"
        		   }
        		   
        		   //console.log(email_text);	
        		   tr.append("<td> <ol>" +email_text+"</ol></td>" );
        		         		   
        		   
        		   $('#result_table_body').append(tr);
        	   }
               
           })
           .fail(function(event){
				   var inner_text = "<tr><td colspan=100% style='text-align:center'> Sorry Internal Server Error</td> </tr>"   
        		   
        		   $('#result_table_body').append(inner_text)
               
           });
    }
    
});
</script>
{% endblock %}